<div class="row justify-content-center">
    <div class="col-md-7 form">
        <nb-card>
            <nb-card-body>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="title">
                            <h1>Sign up</h1>
                            <h5>Enter Your information here</h5>
                        </div>
                        <form>
                            <div class="form-control-group"><label class="label" for="input-first-name">First name:</label><input
                                    autofocus fullwidth id="input-first-name" name="firstName" nbinput type="text"
                                    placeholder="First name" class="input-full-width input-md input-rectangle">
                            </div>
                            <div class="form-control-group"><label class="label" for="input-last-name">Last name:</label><input
                                    fullwidth id="input-last-name" name="lastName" nbinput type="text" placeholder="Last name"
                                    class="input-full-width input-md input-rectangle">
                            </div>
                            <div class="form-control-group"><label class="label" for="input-email">Email address:</label><input
                                    fullwidth id="input-email" name="email" nbinput type="email" placeholder="Email address"
                                    class="input-full-width input-md input-rectangle">
                            </div>
                            <div class="form-control-group"><label class="label" for="input-password">Password:</label><input
                                    autofocus fullwidth id="input-password" name="password" nbinput type="password"
                                    placeholder="Password" class="input-full-width input-md input-rectangle">
                            </div>
                            <button nbButton status="success" class="btn-submit">Sign up</button>
                        </form>
                        <p [routerLink]="['/auth/login']">Already have an account? Login now!</p>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>