p {
    text-align: center;
    margin: 10px;
}

.buttons {
    text-align: center;
    button {
        margin: 10px;
        cursor: pointer;
    }
}

nb-list {
    margin: 20px 30px;
    border-left: 1px solid #F2F4F7;
    border-right: 1px solid #F2F4F7;
}