nb-list {
    margin: 20px 40px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;

    nb-list-item {
        input {
            margin-left: 20px;
        }
    }
}

p {
    margin: 10px 30px;
    text-align: center;
}

.buttons {
    margin: 20px;
    text-align: center;
    button {
        margin: 0 20px;
    }
}