<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Please choose 3 skills
            </nb-card-header>
            <nb-card-body>
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center skills">
                        <div class="my-skills">
                            <h2>
                                My skills:
                            </h2>
                            <div class="skill-pool">
                                <button nbButton status="primary">Primary
                                    <div class="remove-skill">
                                        <i class="eva eva-close"></i>
                                    </div>
                                </button>
                                <button nbButton status="primary">Primary
                                    <div class="remove-skill">
                                        <i class="eva eva-close"></i>
                                    </div>
                                </button>
                                <button nbButton status="primary">Primary
                                    <div class="remove-skill">
                                        <i class="eva eva-close"></i>
                                    </div>
                                </button>
                                <button nbButton status="primary">Primary
                                    <div class="remove-skill">
                                        <i class="eva eva-close"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="choose-skills">
                            <h2>Choose skills:</h2>
                            <div class="skill-pool">
                                <button nbButton status="primary">Primary</button>
                                <button nbButton status="primary">Primary</button>
                                <button nbButton status="primary">Primary</button>
                                <button nbButton status="primary">Primary</button>
                                <button nbButton status="primary">Primary</button>
                                <button nbButton status="primary">Primary</button>
                                <button nbButton status="primary">Primary</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button style="float: right" nbButton status="success">Save my skills</button>
            </nb-card-footer>
        </nb-card>
    </div>
</div>