.no-content {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #f1f1f1;
    width: 100%;
    h1 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        color: rgb(112, 112, 112);
    }
}