.cdk-drag-preview {
    box-sizing: border-box;
    text-align: left;
    background-color: #65B2FF;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    line-height: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: .5;
    padding: 5px;
    margin: 5px;
    flex: 1;
    text-align: left;
    border-radius: 5px;
    color: #fff;
    background-color: #65B2FF;
    font-size: 12px;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.subjects {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px 0 20px 65px;
    padding: 10px;
    .subj-container {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .subject {
            padding: 5px;
            margin: 5px;
            flex: 1;
            text-align: left;
            border-radius: 5px;
            color: #fff;
            background-color: #65B2FF;
            font-size: 12px;
            cursor: move;
            &:hover {
                background-color: rgba(101, 178, 255, .8);
            }
        }
    }
}

.content {
    display: flex;
    .times {
        text-align: center;
        padding: 37px 30px 0 0;
        .time {
            height: 90px;
            line-height: 90px;
            padding: auto 0;
        }
    }
    .calendar {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        border-left: 1px solid #cfcfcf;
        .column {
            display: flex;
            flex-flow: column wrap;
            flex: 1;
            border-bottom: 1px solid #cfcfcf;
            &:first-child {
                border-left: 1px solid #cfcfcf;
            }
            p {
                text-align: center;
            }
            .has-lessons {
                background-color: #f1f1f1 !important;
            }
            .cell {
                border-top: 1px solid #cfcfcf !important;
                height: 90px;
                padding: 10px;
                border-right: 1px solid #cfcfcf;
                background-color: #f9f9f9;
                max-height: 100%;
                position: relative;
                .drop-list {
                    height: 100%;
                }
                .time,
                .date {
                    position: absolute;
                    font-size: 14px;
                    right: 10px;
                }
                .date {
                    top: 10px;
                }
                .time {
                    bottom: 10px;
                    font-size: 34px;
                    font-weight: 700;
                    color: #e1e1e1;
                }
                &:hover {
                    background-color: #f2f2f2;
                }
                overflow-y: auto;
                .lessons {
                    .lesson {
                        cursor: pointer;
                        border: 1px solid;
                        border-radius: 5px;
                        width: 100%;
                        font-size: 11px;
                        padding: 5px;
                        color: #fff;
                        position: relative;
                        z-index: 999;
                    }
                    .canceled,
                    .requested,
                    .approved,
                    .new {
                        i {
                            float: right;
                            margin: 0 5px;
                            border-radius: 40%;
                            padding: 0 5px;
                            cursor: pointer;
                            vertical-align: middle;
                            &:hover {
                                background-color: rgba(255, 255, 255, .3);
                            }
                        }
                    }
                    .canceled {
                        background-color: #FF657F;
                    }
                    .requested {
                        background-color: #FFAE24;
                    }
                    .approved {
                        background-color: #40dc7e;
                    }
                    .new {
                        background-color: #65B2FF;
                        cursor: initial;
                    }
                }
            }
        }
    }
}