<h3>Requested lessons</h3>
<br />
<nb-accordion multi>
    <nb-accordion-item *ngFor="let request of requests">
        <nb-accordion-item-header>
            {{request.skill}} ({{request.lessons.length}})
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4" *ngFor="let lesson of request.lessons">
                        <app-admin-dashboard-lesson-view [lesson_type]="'warning'" [lesson]="lesson"></app-admin-dashboard-lesson-view>
                    </div>
                </div>
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>